@use '../../styles' as *;
@use 'sass:math';

.toolbar {
  display: grid;
  grid-template-areas: 'title nav';

  &__navigation {
    grid-template: 'nav';

    & ul {
      display: none;
      list-style-type: none;

      & li {
        padding: $padding;
        width: 70%;
      }
    }

    &--open {
      position: fixed;
      width: 100%;

      &::before {
        @include pseudo;
        @include animate(dropdown);

        width: 100%;
        height: 100%;

        background-color: var(--clr-nav-background);
        backdrop-filter: blur(5px);
        box-shadow: 3px 9px 20px 11px var(--clr-nav-background);
      }

      & ul {
        @include animate(dropdown);

        position: relative;
        display: block;

        filter: none;
      }
    }
  }

  &__navigation-toggler {
    position: absolute;
    top: $padding;
    right: $padding;
    z-index: 3;

    width: $burger-size;
    height: $burger-size;

    &__burger {
      @include transition;

      position: relative;
      width: $burger-size;
      height: $burger-height;
      background: var(--clr-accent);

      &::after {
        @include pseudo;
        @include transition;

        top: calcBurgerIndent($burger-size, $burger-height);
        width: math.div($burger-size * 3, 4);
        height: $burger-height;

        background: var(--clr-accent);
      }

      &::before {
        @include pseudo;
        @include transition;

        top: -#{calcBurgerIndent($burger-size, $burger-height)};
        width: $burger-size;
        height: $burger-height;

        background: var(--clr-accent);
      }

      &--open {
        background: transparent;
        transform: rotate(720deg);

        &::before {
          top: 0;
          transform: rotate(45deg);
        }

        &::after {
          top: 0;
          width: $burger-size;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.title {
  grid-template: title;
  padding: $padding;

  font-size: $title-size;
  color: var(--clr-accent);
}
