@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}

:root {
  --clr-primary: #483f7a;
  --clr-secondary: rgba(187, 84, 183, 0.69);
  --clr-white: #ffffff;
}

body {
  background: linear-gradient(
    180deg,
    var(--clr-primary) 0%,
    var(--clr-primary) 55.21%,
    var(--clr-secondary) 100%
  );
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  color: var(--clr-white);
}

button {
  border: none;
  background: transparent;
}
